/* Author:Cian Hughes*/

body {background-image: url('../img/BackgroundDnD1.png'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;}

.centerSignIn {margin: auto; width: 75%; padding: 10px;}

.centerSignUp {margin: auto; width: 50%; padding: 10px;}

button:hover {text-decoration: underline;}

.SignIn {width: 400px; margin: 15px;}

.myHeading{color: white;}